# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/
!/log/.keep
/tmp/
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

# Ignore compiled assets
public/assets/

# Ignore the vendor cache
vendor/cache/
